{% extends 'template.html'%}
{% load static %}
{% block l_articles %}
                      <a href="{% url 'articles:articles_add' %}"><li>Написать статью</li></a>
                      <a href="{% url 'articles:articles' %}"><li>Последние статьи</li></a>
                      {% comment %} <a href="{% url 'articles:articles_pop' %}"><li>Популярное</li></a> {% endcomment %}
{% endblock %}
{% block head_main_articles %}active_under_item{% endblock %}
{% block title %}
        <title>Комплекс серверов Rus-Hytale</title>
        <meta property="og:site_name" content="Rus-Hytale | Сервера по игре Hytale" />
	    <meta property="og:type" content="website" />
		<meta property="og:title" content="Rus-Hytale | Сервера по игре Hytale" />
		<meta property="twitter:title" content="Rus-Hytale | Сервера по игре Hytale" />
		<meta name="Description" content="Официальный сайт русскоязычного комплекса серверов по Hytale"/>
{% endblock %}
{% block left_panel_content_main %}
                <a href="{% url 'articles:articles_add' %}"><div class="item_left_panel_content_main">Написать статью</div></a>
                <a href="{% url 'articles:articles' %}"><div class="item_left_panel_content_main">Последние статьи</div></a>
                <a href="{% url 'articles:tag_list' %}"><div class="item_left_panel_content_main active_item_left_panel_content_main">Список тегов</div></a>
                {% for tag_p in tags_p%}
                <a href="{% url 'articles:articles'%}?tag_id={{tag_p.tag.id}}" class="tg_adapt" data-catid={{tag_p.tag.id}}><div class="item_left_panel_content_main">{{tag_p.tag.title}}</div></a>
                {% endfor %}
{% endblock %}
{% block center_panel_content_main %}
{% load tag_p_check %}
                <table border="0" width="100%" cellpadding="5" style="color:rgb(233, 233, 233);">
                    <tr style="font-size: 20px;">
                     <th style="text-align:start ;">Темы</th>

                    </tr>
                        {% for tag in tags %}
                    <tr style="font-size: 20px;">
                     <td style="align-items: center; display: flex;">
                        <img src="{{tag.img.url}}" style="width: 64px; border-radius: 5px;">
                        <div style="align-items: center; padding-left: 10px;">
                            <a href="{% url 'articles:articles'%}?tag_id={{tag.id}}" class="a_community_communities">
                                <div>{{tag.title}}</div>

                            </a>
                            <div style="font-size: 13px;    padding-right: 10px;">
                                {{tag.description}}
                            </div>
                        </div>
                    </td>
                     <td style="text-align: end;"><a class="go_new_s" data-catid={{tag.id}} style="font-size: 17px;cursor:pointer;">{{ tag.id|check:user.id }}</a></td>
                   </tr>
                        {% endfor %}
                  </table>
                  <script>
            $(function(){
                var data = []
                 $(".go_new_s").click(function(){
                    console.log($(this).attr('data-catid'))
                     $.ajax({
                        type:"POST",
                        url: "/articles/tag_list/",
                        data: {id_tag: $(this).attr('data-catid')},
                        success: function(data) {
                            var arr_data = data.split(' ');
                            var answer = arr_data[0];
                            var id_tag = arr_data[1];
                            var name = arr_data[2];
                            if(answer == '+'){
                                $(".go_new_s[data-catid="+id_tag+"]").html('Отписаться');
                                $(".left_panel_content_main").append("<a href='/articles/?tag_id="+id_tag+"' class='tg_adapt' data-catid="+id_tag+"><div class='item_left_panel_content_main'>"+name+"</div></a>");

                            }
                            else{
                                $(".go_new_s[data-catid="+id_tag+"]").html('Подписаться');
                                $(".tg_adapt[data-catid="+id_tag+"]").detach();
                            }

                        }
                    })
                });
                
            });
        </script>
{% endblock %}









