.text_index_info{
    font-size: 16px;
    letter-spacing: 1px;
    color: rgb(216, 216, 216);
    padding-top: 5px;
}
.title_index_info{
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
    color: rgb(233, 233, 233);
    padding-bottom: 5px;
    border-bottom: 1px solid rgb(167, 167, 167);
}
.top_user_article_s{
    display: flex;
    align-items: center;
}
.ava_user_article_s{
    width: 40px;
    border-radius: 100%;
    border: 2px solid rgb(216, 216, 216);
}
.name_user_article_s{
    padding-left: 6px;
    font-size: 16px;
    color: rgb(233, 233, 233);
}
.name_user_article_s:hover{
    color: rgb(139, 195, 74);
}
.date_article_s{
    padding-left: 6px;
    font-size: 16px;
    color: rgb(233, 233, 233);
}
.top_name_article_s{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border-bottom:1px solid rgb(121, 121, 121);
    padding-bottom: 10px;
}
.title_article_s{
    font-size: 20px;
    color: rgb(233, 233, 233);
}
.title_article_s:hover{
    color: rgb(139, 195, 74);
}
.views_article_s{
    padding-left: 6px;
    font-size: 16px;
    color: rgb(233, 233, 233);
}
.likes_img_article_s{
    width: 20px;
    padding-left: 6px;
}
.likes_article_s{
    padding-left: 6px;
    font-size: 16px;
    color: rgb(233, 233, 233);
}
.dilikes_img_article_s{
    width: 20px;
    padding-left: 6px;
}
.dilikes_article_s{
    padding-left: 6px;
    font-size: 16px;
    color: rgb(233, 233, 233);
}
.estimation_article_s{
    display: flex;
    align-items: center;
}
.center_content_article_s{
    font-size: 16px;
    color: rgb(233, 233, 233);
    padding-bottom: 10px;
}
.center_content_article{
    display: flex;
    align-items: center;
}
.likes_img_article{
    cursor: pointer;
    width: 30px;
    padding-left: 6px;
}
.likes_article{
    padding-left: 6px;
    font-size: 16px;
    color: rgb(233, 233, 233);
}
.dilikes_img_article{
    cursor: pointer;
    width: 30px;
    padding-left: 6px;
}
.dilikes_article{
    padding-left: 6px;
    font-size: 16px;
    color: rgb(233, 233, 233);
}
.go_article_s{
    font-size: 14px;
    padding: 3px 12px;
    border: 1px solid rgb(216, 216, 216);
    border-radius: 3px;
    color: rgb(216, 216, 216);
}
.go_article_s:hover{
    border: 1px solid rgb(139, 195, 74);
}
/* news */
.top_group_new_s{
    display: flex;
    align-items: center;
}
.ava_group_new_s{
    width: 40px;
    border-radius: 100%;
    border: 2px solid rgb(216, 216, 216);
}
.estimation_new_s{
    display: flex;
    align-items: center;
}
.name_group_new_s{
    padding-left: 6px;
    font-size: 16px;
    color: rgb(233, 233, 233);
}
.name_group_new_s:hover{
    color: rgb(139, 195, 74);
}
.date_new_s{
    padding-left: 6px;
    font-size: 16px;
    color: rgb(233, 233, 233);
}
.top_name_new_s{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border-bottom:1px solid rgb(121, 121, 121);
    padding-bottom: 10px;
}
.title_new_s{
    font-size: 20px;
    color: rgb(233, 233, 233);
}
.title_new_s:hover{
    color: rgb(139, 195, 74);
}
.views_new_s{
    padding-left: 6px;
    font-size: 16px;
    color: rgb(233, 233, 233);
}
.likes_img_new_s{
    width: 20px;
    padding-left: 6px;
}
.likes_new_s{
    padding-left: 6px;
    font-size: 16px;
    color: rgb(233, 233, 233);
}
.dilikes_img_new_s{
    width: 20px;
    padding-left: 6px;
}
.dilikes_new_s{
    padding-left: 6px;
    font-size: 16px;
    color: rgb(233, 233, 233);
}
.center_content_new_s{
    font-size: 16px;
    color: rgb(233, 233, 233);
    padding-bottom: 10px;
}
.go_new_s{
    font-size: 14px;
    padding: 3px 12px;
    border: 1px solid rgb(216, 216, 216);
    border-radius: 3px;
    color: rgb(216, 216, 216);
}
.go_new_s:hover{
    border: 1px solid rgb(139, 195, 74);
}

.center_content_new{
    display: flex;
    align-items: center;
}
.likes_img_new{
    cursor: pointer;
    width: 30px;
    padding-left: 6px;
}
.likes_new{
    padding-left: 6px;
    font-size: 16px;
    color: rgb(233, 233, 233);
}
.dilikes_img_new{
    cursor: pointer;
    width: 30px;
    padding-left: 6px;
}
.dilikes_new{
    padding-left: 6px;
    font-size: 16px;
    color: rgb(233, 233, 233);
}

/* accounts */
.user_account_s{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    width: 100%;
}
.user_account_s:hover{
    background-color: rgb(121, 121, 121);
}
.user_account_s:hover .name_user_account_s{
    color: rgb(139, 195, 74);
}
.user_account_s:hover .ava_user_account_s{
    border-color: rgb(139, 195, 74);
}
.name_user_account_s{
    padding-left: 10px;
    font-size: 16px;
    color: rgb(233, 233, 233);
}
.parameter_user_account_s{
    padding-right: 10px;
    font-size: 16px;
    color: rgb(233, 233, 233);
}
.left_user_account_s{
    padding-left: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.ava_user_account_s{
    width: 44px;
    border-radius: 100%;
    border: 1px solid rgb(233, 233, 233);
}

/* account */

.top_info_profile_content{
    display: flex;
    flex-wrap: nowrap;
    padding-top: 10px;
    padding-left: 23px;
}
.usernameProfile_profile{
    font-size: 26px;
    letter-spacing: 1px;
    font-family: 'Raleway';
    color:rgb(216, 216, 216);
}
.cityProfile_profile{
    padding-top: 5px;
    font-size: 20px;
    letter-spacing: 1px;
    font-family: 'Raleway';
    color: rgb(216, 216, 216);
    padding-left: 8px;
}
.cityProfile_profile a{
    font-size: 20px;
    letter-spacing: 1px;
    font-family: 'Raleway';
    color:rgb(139, 195, 74);
    padding-left: 4px;
}
.cityProfile_profile a:hover{
    color:rgb(115, 160, 63);
}
.center_info_profile_content{
    display: flex;
    flex-wrap: nowrap;
    padding-left: 23px;
    padding-top: 10px;
}
.groupProfile_profile{
    font-size: 17px;
    letter-spacing: 1px;
    font-family: 'Raleway';
    color:rgb(216, 216, 216);
}
.messagesProfile_profile{
    font-size: 13px;
    letter-spacing: 1px;
    font-family: 'Raleway';
    color:rgb(216, 216, 216);
}
.messagesProfile_profile a{
    font-size: 13px;
    letter-spacing: 1px;
    font-family: 'Raleway';
    color:rgb(139, 195, 74);
    padding-left: 5px;
}
.messagesProfile_profile a:hover{
    color:rgb(115, 160, 63);
}
.pointsProfile_profile{
    font-size: 13px;
    letter-spacing: 1px;
    font-family: 'Raleway';
    color:rgb(216, 216, 216);
    padding-left: 5px;
}
.pointsProfile_profile a{
    font-size: 13px;
    letter-spacing: 1px;
    font-family: 'Raleway';
    color:rgb(139, 195, 74);
    padding-left: 5px;
}
.pointsProfile_profile a:hover{
    color:rgb(115, 160, 63);
}
.end_info_profile_content{
    padding-left: 20px;
    padding-top: 10px;
    width: 60%;
}
.textProfile_profile{
    font-size: 10px;
    letter-spacing: 1px;
    font-family: 'Raleway';
    color:rgb(216, 216, 216);
}
.end_end_info_profile_content{
    display: flex;
    flex-wrap: wrap;
    padding-left: 23px;
    padding-top: 10px;
}
.top_profile_content{
    display: flex;
    flex-wrap: nowrap;
    border-bottom: 1px solid rgb(167, 167, 167);
}
.ava_profile_content{
    border-right: 1px solid rgb(167, 167, 167);
    padding: 10px;
}
.avaProfile_profile{
    width: 200px;
    height: 200px;
    background-color: rgb(95, 95, 95);
    border: 1px solid rgb(233, 233, 233);
    position: relative;
    overflow: hidden;
    border-radius: 100%;
}

.regProfile_profile{
    display: flex;
    flex-wrap: wrap;
    font-size: 15px;
    letter-spacing: 1px;
    font-family: 'Raleway';
    color:rgb(216, 216, 216);
    padding-right: 5px;
}
.lastProfile_profile{
    display: flex;
    flex-wrap: wrap;
    font-size: 15px;
    letter-spacing: 1px;
    font-family: 'Raleway';
    color:rgb(216, 216, 216);
}
.attention{
    color:rgb(233, 233, 233);
    padding-left: 5px;
}
.wall_profile{
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
}
.user_wall_profile{
    display: flex;
    align-items: center;
}
.ava_user_wall_profile{
    width: 50px;
    border: 1px solid rgb(233, 233, 233);
    border-radius: 100%;
}
.username_user_wall_profile{
    font-size: 18px;
    color: rgb(233, 233, 233);
    padding-left: 10px;
}
.date_user_wall_profile{
    font-size: 13px;
    color: rgb(233, 233, 233);
    padding-left: 10px;
}
.content_wall_profile{
    margin-left: 25px;
    border-left: 2px solid rgb(233, 233, 233);
    padding-left: 10px;
}
.text_content_wall_profile{
    font-size: 15px;
    color: rgb(233, 233, 233);
    padding-left: 10px;
}
.none_wall_profile{
    width: 100%;
    text-align: center;
    font-size: 20px;
    color: rgb(233, 233, 233);
    height: 100px;
}
.user_conversation_mess{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
}
.user_conversation_mess:hover{
    background-color: rgb(113, 113, 113);
}
.left_block_conversation_mess{
    display: flex;
    align-items: center;
}
.ava_user_conversation_mess{
    width: 50px;
    border-radius: 100%;
    border: 1px solid rgb(233, 233, 233);
}
.right_left_block_conversation_mess{
    padding-left: 10px;
    align-items: center;
}
.username_user_conversation_mess{
    font-size: 18px;
    color: rgb(233, 233, 233);
    padding-bottom: 5px;
}
.end_last_message_user_conversation_mess{
    display: flex;
    align-items: center;
}
.text_last_message_user_conversation_mess{
    font-size: 13px;
    color: rgb(233, 233, 233);
    padding-left: 5px;
}
.ava_last_message_user_conversation_mess{
    width: 25px;
    border-radius: 100%;
}
.unread_conversation_mess{
    border-radius: 20px;
    background-color: rgb(233, 233, 233);
    color: black;
    padding: 3px;
}
.messages_content{
    padding: 5px;
    
}
.message_messages{
    padding: 10px;
    font-size: 13px;
    color: rgb(233, 233, 233);
    border-radius: 10px;
    display: inline-block;
    background-color: rgb(123, 123, 123);
    justify-content: flex-end;
    cursor: pointer;
    transition: all 100ms linear;
}
.message_my_messages{
    padding: 10px;
    font-size: 13px;
    color: rgb(233, 233, 233);
    border-radius: 10px;

    display: inline-block;
    background-color: rgb(97 97 97);
    justify-content: flex-end;
    cursor: pointer;
    transition: all 100ms linear;
}
.line_block_message_messages{
    padding-bottom: 5px;
    padding-top: 5px;
    padding-right: 300px;
    align-items: center;
}
.line_my_block_message_messages{
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 300px;
    align-items: center;
}
.head_messages{
    height: 30px;
    align-items: center;
    width: 100%;
    justify-content:space-between;
    display: flex;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(160, 160, 160);
}
.head_messages_profile{
    height: 30px;
    align-items: center;
    width: 100%;
    justify-content:space-between;
    display: flex;
    padding-bottom: 10px;
}
.button_back_messages{
    font-size: 20px;
    color: rgb(233, 233, 233);
    padding-left: 10px;
    
}
.input_message_messages{
    font-size: 19px;
    color: rgb(233, 233, 233);
    background-color: rgb(123, 123, 123);
    width: 100%;
    border-radius: 10px;
    border: 1px solid rgb(123, 123, 123);
    letter-spacing:1px;
    outline:none;
}
.form_messages{
    padding-left: 10px;
    width: 100%;
    display: flex;
    justify-content:space-between;
}
.submin_message_messages{
    border: none; 
    outline: none;
    font-size: 17px;
    color: rgb(233, 233, 233);
    border-radius: 10px;
    background-color: rgba(123, 123, 123, 0);
    cursor: pointer;
    align-items: center;
}
.submin_content_message_messages{
    padding-left: 0px;
}
.ava_user_message_messages{
    width: 40px;
    border-radius: 100%;
}
.user_message_messages{
    display: flex;
    align-items: center;
    padding-bottom: 5px;
}
.username_user_message_messages{
    font-size: 17px;
    padding-left: 5px;
    color: rgb(233, 233, 233);
}
.username_user_message_messages:hover{
    color: rgb(139, 195, 74);
}
.user_my_message_messages{
    display: flex;
    align-items: center;
    padding-bottom: 5px;
    float: right;
    padding-top: 5px;
}
.ava_my_user_message_messages{
    width: 40px;
    border-radius: 100%;
    
}
.username_my_user_message_messages{
    font-size: 17px;
    padding-right: 5px;
    color: rgb(233, 233, 233);
}
.username_my_user_message_messages:hover{
    color: rgb(139, 195, 74);
}
.submin_message_messages img{
    width: 20px;
}
.still_messages{
    user-select: none;
    width: 150px;
    margin: 0 auto;
    font-size: 17px;
    color:black;
    text-align: center;
    border-radius: 10px;
    background-color: rgb(233, 233, 233);
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: pointer;
    margin-top: 5px;
}
.a_community_communities{
    color:rgb(233, 233, 233);
}
.a_community_communities:hover{
    color: rgb(139, 195, 74);
}
.active_message_messages{
    background-color: rgb(88, 88, 88);
}
.fix_head_messages{
    margin-left: -10px;
    position: fixed;
    top: 0;
    padding-top: 18px;
    padding-bottom: 18px;
    background-color: rgb(115, 115, 115);
    width: 58.5%;
    border: none;
}
.answer_message_messages{
    border: none; 
    outline: none;
    font-size: 17px;
    color: rgb(233, 233, 233);
    border-radius: 10px;
    background-color: rgba(123, 123, 123, 0);
    cursor: pointer;
    align-items: center;
    display: none;
}
.answer_message_messages img{
    width: 20px;
}
.footer_messages{
    bottom:0;
    display: flex;
    width: 58.5%;
    background-color: rgba(123, 123, 123);
    position: fixed;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 5px;
    margin-left: -10px;
}
.delete_message_messages{
    width: 30px;
    display: none;
    cursor: pointer;
}
.edit_message_messages{
    width: 30px;
    display: none;
    cursor: pointer;
}
.subscriptions_profile{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
}
.subscription_profile{
    border-radius: 5px;
    width: 40px;
}
.subscription_profile:hover{
    background-color: rgba(123, 123, 123);
}
.block_subscription_profile{
    padding: 3px;
}



.my_tags{
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 5px;
    border-bottom: 2px solid rgba(123, 123, 123);
}
.all_tags{
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 5px;
    padding-top: 15px;
    border-bottom: 2px solid rgba(123, 123, 123);
}
.my_tag{
    font-size: 14px;
    padding: 3px 12px;
    border: 1px solid rgb(216, 216, 216);
    border-radius: 3px;
    color: rgb(216, 216, 216);
    cursor: pointer;
}
.my_tag:hover{
    border: 1px solid rgb(139, 195, 74);
}
.all_tag{
    font-size: 14px;
    padding: 3px 12px;
    border: 1px solid rgb(216, 216, 216);
    border-radius: 3px;
    color: rgb(216, 216, 216);
    cursor: pointer;
}
.all_tag:hover{
    border: 1px solid rgb(139, 195, 74);
}
.my_tag_content{
    padding: 2px 3px;
}
.all_tag_content{
    padding: 2px 3px;
}
.my_tag_text{
    font-size: 14px;
    padding: 3px 3px;
    color: rgb(216, 216, 216);
    align-items: center;
}
.my_tag_content_text{
    padding: 2px 3px;
}






/* Пупа */
.article_block_s{
    padding-bottom: 10px;
}
.content_comments{
    padding-top: 10px;
    border-top: 1px solid rgb(216, 216, 216);;
}
.user_comment_comments{
    display: flex;
    align-items: center;
}
.ava_user_comment_comments{
    padding: 5px;
}
.ava_user_comment_comments img{
    border-radius: 100%;
    width: 40px;
    border: 2px solid rgb(216, 216, 216);
}
.username_user_comment_comments{
    
    font-size: 18px;
    padding: 3px 3px;
    color: rgb(216, 216, 216);
}
.title_comments{
    font-size: 20px;
    font-weight: bold;
    padding-left: 15px;
    padding-bottom: 10px;
    color: rgb(216, 216, 216);
}
.content_comment_comments{
    display: flex;
    justify-content: space-between;
    padding-bottom: 5px;
    align-items: flex-end;
}
.text_comment_comments{
    font-size: 18px;
    padding: 2px 10px;
    padding-right: 5px;
    color: rgb(216, 216, 216);
}
.fun_comment_comments{
    display: flex;
}
.answer_comment_comments{
    width: 30px;
    height: 30px;
    padding: 5px;
}
.edit_comment_comments{
    width: 30px;
    height: 30px;
    padding: 5px;
}
.del_comment_comments{
    width: 30px;
    height: 30px;
    padding: 5px;
}



.read_mess{
    width: 200px;
    /* height: 10px; */
    margin: 0 auto;
}
.text_read_mess{
    margin: 0 auto;
    text-align: center;
    width: 200px;
    position: fixed;
    background-color: rgb(216, 216, 216);
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    bottom:-55px;
    opacity: 0;
    transition: all .2s ease-in-out;
}
.read_mess_active{
    opacity: 1;
    bottom: 25px;
    transition: all .2s ease-in-out;
}