{% extends 'head.html'%}
{% load static %}
{% block title %}
        <title>404</title>
        <link href="{% static 'css/head.css' %}" rel="stylesheet">
        <link href="{% static 'css/newMainBlock.css' %}" rel="stylesheet">
        <link href="{% static 'css/404style.css' %}" rel="stylesheet">
{% endblock %}
{% block body %}
        <!-- header -->
        <!-- body -->
        <div class="container404">
            <div class="body_inner404">
                <div class="o404">упс.. 404</div>
                <div class="text">страница не найдена :(</div>
                <button class="button" type="button">
                    на главную
                    <a href="#"></a>
                </button>
            </div>
        </div>
        <!-- body -->
	<script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/ButtonPuls.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/Scroll.js' %}"></script>
{% endblock %}