{% extends 'head.html'%}
{% load static %}
{% block title %}
        <title>404</title>
        <link href="{% static 'css/head.css' %}" rel="stylesheet">
        <link href="{% static 'css/newMainBlock.css' %}" rel="stylesheet">
        <link href="{% static 'css/404style.css' %}" rel="stylesheet">
{% endblock %}
{% block body %}
    <body class="bodyStyle">
        <!-- header -->
        <div class="header">
            <div class="LogoHeader">
                <a href="{% url 'news:home'%}"><img class="Logo" src="{% static 'images/MiniLogo.png' %}"></a>
            </div>
            <div class="MenuHeader">
                <a href="{% url 'news:home'%}"><button  class="ButtonPulsHeader">Главная</button></a>
                <a href="{% url 'news:news'%}"><button  class="ButtonPulsHeader">Новости</button></a>
                <a href="https://forum.rushytale.ru"><button  class="ButtonPulsHeader">Форум</button></a>
            </div>
        </div>
        <!-- header -->
        <!-- body -->
        <div class="container404">
            <div class="body_inner404">
                <div class="o404">упс.. 404</div>
                <div class="text">страница не найдена :(</div>
                <button class="button" type="button">
                    на главную
                    <a href="#"></a>
                </button>
            </div>
        </div>
        <!-- body -->
	<script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/ButtonPuls.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/Scroll.js' %}"></script>
    </body>
{% endblock %}