{% extends 'head.html'%}
{% load static %}
{% block title %}
        <title>Настройки</title>
        <meta property="og:site_name" content="Настройки | Сервера по игре Hytale" />
	    <meta property="og:type" content="website" />
		<meta property="og:title" content="Настройки | Сервера по игре Hytale" />
		<meta property="twitter:title" content="Настройки | Сервера по игре Hytale" />
		<meta name="Description" content="Официальный сайт русскоязычного комплекса серверов по Hytale"/>
        <link href="{% static 'css/settAccount.css' %}" rel="stylesheet">
{% endblock %}
{% block body %}
        <div class="content">
            <div class="TitleSett">
                Настройки
            </div>
            <form method="post" class="ListSettings">
                {% csrf_token %}
                <p class="TitleParams"><b>Основные настройки</b></p>
                <div class="Settings">
                    <p class="setting">
                        <b>Ник</b>
                        <input type="text" name="username" id="id_username" value="{{User.username|default:''}}">
                    </p>
                    <p class="setting">
                        <b>Идентификатор</b>
                        <input type="text" name="identifier" id="id_identifier" value="{{UserDop.identifier|default:''}}">
                    </p>
<!--                    <p class="setting">-->
<!--                        <b>Почта</b>-->
<!--                        <b class="SecretInfo">{{user.email}}</b>-->
<!--                        <Br><a href="#">Изменить?</a>-->
<!--                    </p>-->
                    <p class="setting">
                        <b>Пароль</b>
                        <b class="SecretInfo">******************</b>
<!--                        <Br><a href="#">Изменить?</a>-->
                    </p>
                </div>
                <p class="TitleParams"><b>Персональная информация</b></p>
                <div class="Settings">
                    <p class="setting">
                        <b>Имя</b>
                        <input type="text" name="first_name" id="id_first_name" value="{{User.first_name|default:''}}">
                    </p>
                    <p class="setting">
                        <b>Фамилия</b>
                        <input type="text" name="last_name" id="id_last_name" value="{{User.last_name|default:''}}">
                    </p>
                    <p class="setting">
                        <b>Дата рождения</b>
                        <input type="date" required name="DateBirth" id="id_DateBirth" value="{{UserDop.DateBirth|date:'Y-m-d'}}">
                    </p>
                    <p class="setting">
                        <b>Город</b>
                        <input type="text" name="city" id="id_city" value="{{UserDop.city|default:''}}">
                    </p>
<!--                    <p class="setting">-->
<!--                        <b>Пол</b>-->
<!--                        <select name="gender" id="id_gender">-->
<!--                            <option>Неизвестный</option>-->
<!--                            <option>Женский</option>-->
<!--                            <option>Мужской</option>-->
<!--                            <option>Бесполый</option>-->
<!--                            <option>Гермофрадит</option>-->
<!--                            <option>Бисексуал</option>-->
<!--                            <option>Цисгендерный</option>-->
<!--                            <option>Недоженский</option>-->
<!--                            <option>Недомужской</option>-->
<!--                            <option>Недополовой</option>-->
<!--                            <option>Недополовой женский</option>-->
<!--                            <option>Недополовой мужской</option>-->
<!--                            <option>FTM</option>-->
<!--                            <option>MTF</option>-->
<!--                            <option>Неусточнивый</option>-->
<!--                            <option>Отрицающий</option>-->
<!--                            <option>Межполовой</option>-->
<!--                            <option>Не тридиционный</option>-->
<!--                            <option>Всеобщеполовой</option>-->
<!--                            <option>Переходной</option>-->
<!--                            <option>Траннсексуальный</option>-->
<!--                            <option>Двудушный</option>-->
<!--                        </select>-->
<!--                        <Br><a href="#">Собственный</a>-->
<!--                    </p>-->
                    <p class="setting">
                        <b>Телефон</b>
                        <input type="text" name="telephone" id="id_telephone" value="{{UserDop.telephone|default:''}}">
                    </p>
                </div>

                <p class="Button"><button type="submit" class="ButtonNewsAnim">Сохранить</button></p>
            </form>
        </div>
        <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/ButtonPuls.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/Scroll.js' %}"></script>
{% endblock %}