{% extends 'head.html'%}
{% load static %}
{% block title %}
        <title>Вход</title>
        <meta property="og:site_name" content="Вход | Сервера по игре Hytale" />
	    <meta property="og:type" content="website" />
		<meta property="og:title" content="Вход | Сервера по игре Hytale" />
		<meta property="twitter:title" content="Вход | Сервера по игре Hytale" />
		<meta name="Description" content="Войти в свой профиль Rus-Hytale"/>
        <link href="{% static 'css/head.css' %}" rel="stylesheet">
        <link href="{% static 'css/newMainBlock.css' %}" rel="stylesheet">
        <link href="{% static 'css/authstyle.css' %}" rel="stylesheet">
{% endblock %}
{% block body %}
    <body class="bodyStyle">
        <!-- header -->
        <div class="header">
            <div class="LogoHeader">
                <a href="{% url 'news:home'%}"><img class="Logo" src="{% static 'images/MiniLogo.png' %}"></a>
            </div>
            <div class="MenuHeader">
                <a href="{% url 'news:home'%}"><button  class="ButtonPulsHeader">Главная</button></a>
                <a href="{% url 'news:news'%}"><button  class="ButtonPulsHeader">Новости</button></a>
                <a href="forum.rushytale.ru"><button  class="ButtonPulsHeader">Форум</button></a>
            </div>
        </div>
        <!-- header -->
        <!-- body -->
        <div class="container_auth">
            <div class="body_inner_auth">
                <div class="o404">пока тут ничего нет</div>
                <div class="text">но мы работаем над этим!</div>
                <a href="https://discord.gg/F86RGWhvdU" target="_blank">
                    <button class="button" type="button">
                        следить за новостями
                    </button>
                </a>
            </div>
        </div>
        <!-- body -->
	    <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/ButtonPuls.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/Scroll.js' %}"></script>
    </body>
{% endblock %}