{% extends 'blogNew.html'%}
{% block title %}
        <title>{{latest_new.title}}</title>
        <meta property="og:site_name" content="{{latest_new.title}} | Сервера по игре Hytale" />
	    <meta property="og:type" content="website" />
		<meta property="og:title" content="{{latest_new.title}} | Сервера по игре Hytale" />
		<meta property="twitter:title" content="{{latest_new.title}} | Сервера по игре Hytale" />
		<meta name="Description" content="{{latest_new.text|truncatechars:100}}"/>
{% endblock %}
{% block content %}
            <h1 class="title_new">{{latest_new.title}}</h1>
            <div class="ContentBlock">
                <img class="img_new" src="/static/{{ latest_new.new_img.name }}">
            </div>
            <div class="TextBlock">
                <h2 class="Text">{{latest_new.text}}</h2>
            </div>
{% endblock %}