{% extends 'index.html'%}
{% block content %}
{% if num == 1 %}
                <div class="New1">
                    <h4 class="NewTitle">{{cont1.title}}</h4>
                    <img class="NewImg" src="/static/{{ cont1.new_img.name }}">
                    <h5 class="NewDes">{{cont1.text|truncatechars:200}}</h5>
                    <a href="{% url 'news:deatail' cont1.id %}"><button class="ButtonPulsNew">Подробнее</button></a>
                </div>
{% elif num == 2 %}
                <div class="New1">
                    <h4 class="NewTitle">{{cont1.title}}</h4>
                    <img class="NewImg" src="/static/{{ cont1.new_img.name }}">
                    <h5 class="NewDes">{{cont1.text|truncatechars:200}}</h5>
                    <a href="{% url 'news:deatail' cont1.id %}"><button class="ButtonPulsNew">Подробнее</button></a>
                </div>
                <div class="New2">
                    <h4 class="NewTitle">{{cont2.title}}</h4>
                    <img class="NewImg" src="/static/{{ cont2.new_img.name }}">
                    <h5 class="NewDes">{{cont2.text|truncatechars:200}}</h5>
                    <a href="{% url 'news:deatail' cont2.id %}"><button class="ButtonPulsNew">Подробнее</button></a>
                </div>
{% elif num == 3 %}
                <div class="New1">
                    <h4 class="NewTitle">{{cont1.title}}</h4>
                    <img class="NewImg" src="/static/{{ cont1.new_img.name }}">
                    <h5 class="NewDes">{{cont1.text|truncatechars:200}}</h5>
                    <a href="{% url 'news:deatail' cont1.id %}"><button class="ButtonPulsNew">Подробнее</button></a>
                </div>
                <div class="New2">
                    <h4 class="NewTitle">{{cont2.title}}</h4>
                    <img class="NewImg" src="/static/{{ cont2.new_img.name }}">
                    <h5 class="NewDes">{{cont2.text|truncatechars:200}}</h5>
                    <a href="{% url 'news:deatail' cont2.id %}"><button class="ButtonPulsNew">Подробнее</button></a>
                </div>
                <div class="New3">
                    <h4 class="NewTitle">{{cont3.title}}</h4>
                    <img class="NewImg" src="/static/{{ cont3.new_img.name }}">
                    <h5 class="NewDes">{{cont3.text|truncatechars:200}}</h5>
                    <a href="{% url 'news:deatail' cont3.id %}"><button class="ButtonPulsNew">Подробнее</button></a>
                </div>
{% else %}
{% endif%}
{% endblock %}