{% extends 'head.html'%}
{% load static %}
{% block title %}
        <title>Комплекс серверов Rus-Hytale</title>
        <meta property="og:site_name" content="Rus-Hytale | Сервера по игре Hytale" />
	    <meta property="og:type" content="website" />
		<meta property="og:title" content="Rus-Hytale | Сервера по игре Hytale" />
		<meta property="twitter:title" content="Rus-Hytale | Сервера по игре Hytale" />
		<meta name="Description" content="Официальный сайт русскоязычного комплекса серверов по Hytale"/>
		<link rel="canonical" href="{% url 'news:home'%}"/>
	    <meta property="og:url" content="{% url 'news:home'%}"/>
        <link href="{% static 'css/head.css' %}" rel="stylesheet">
        <link href="{% static 'css/mainBlock.css' %}" rel="stylesheet">
        <link href="{% static 'css/AuthorizationPanel.css' %}" rel="stylesheet">
        <link href="{% static 'css/whyBlock.css' %}" rel="stylesheet">
        <link href="{% static 'css/newBlock.css' %}" rel="stylesheet">
{% endblock %}
{% block body %}
    <body>
        <div class="header">
            <div class="LogoHeader">
                <a href="{% url 'news:home'%}"><img class="Logo" src="{% static 'images/MiniLogo.png' %}"></a>
            </div>
            <div class="MenuHeader">
                <a href="{% url 'news:home'%}"><button  class="ButtonPulsHeader">Главная</button></a>
                <a href="{% url 'news:news'%}"><button  class="ButtonPulsHeader">Новости</button></a>
                <a href="forum.rushytale.ru"><button  class="ButtonPulsHeader">Форум</button></a>
            </div>

        </div>
        <div class="MainBlock">
            <div class="imgMainBlock noselect">
                <div class="BackMain">
                    <img class="OpBack" src="{% static 'images/BackMain.jpg' %}">
                    <img class="OpBackEf1" src="{% static 'images/EffectMin1.png' %}">
                    <img class="OpBackEf2" src="{% static 'images/EffectMax1.png' %}">
                </div>
                <div class="MainBlockImg">
                    <img src="{% static 'images/LogoMain.png' %}">
                </div>
                <div class="PlayMenu">
                    <a href="{% url 'play:play'%}">
                        <div class="buttonPlay"><div>Начать играть</div></div>
                      </a>
                </div>
                <div class="Authorization">
                    {% if user.is_authenticated %}
                        <div class="InputText">
                            <h3>Привет, {{ user.username }}!</h3>
                            <p><a class="logOut" href="{% url 'logout' %}">Выйти</a></p>
                        </div>
                    {% else %}
                    <div class="InputText">
                        <h3>Войти в профиль</h3>
                    </div>
                        <a href="{% url 'login'%}" class="auth">Вход</a>
                        <a href="{% url 'accounts:reg'%}" class="reg">Регистрация</a>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="NextBlock">
            <div class="imgWhyBlock noselect">
                <img class="BackWhy" src="{% static 'images/BackNext.jpg' %}">
                <img class="BackWhyEf1" src="{% static 'images/EffectMin2.png' %}">
                <img class="BackWhyEf2" src="{% static 'images/EffectMax2.png' %}">
            </div>
            <div class="features">
                <div class="features__item">
                    <img src="{% static 'images/Why1.png' %}" class="features__icon">
                    <h4 class="features__title">Развивающееся комьюнити</h4>
                </div>
                <div class="features__item">
                    <img src="{% static 'images/Why2.png' %}" class="features__icon">
                    <h4 class="features__title">Справедливая администрация</h4>
                </div>
                <div class="features__item">
                    <img src="{% static 'images/Why3.png' %}" class="features__icon">
                    <h4 class="features__title">Регулярные ивенты</h4>
                </div>
            </div>
            <div class="JoinBlockText">
                <h4>Присоединяйся!</h4>
            </div>
            <div class="DSFrame">
                <iframe src="https://discord.com/widget?id=793835680663994368&theme=dark" allowtransparency="true" frameborder="0" sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>
            </div>
            <div class="NewBlockText">
                <h4>Новости</h4>
            </div>
            <div class="NewsButtonOpen">
                <a href="http://127.0.0.1:8000/news"><button class="ButtonNewsAnim">Все новости</button></a>
            </div>
            <div class="NewBlock">
{% if num == 1 %}
                <div class="New">
                    <h4 class="NewTitle">{{cont1.title}}</h4>
                    <img class="NewImg" src="/static/{{ cont1.new_img.name }}">
                    <h5 class="NewDes">{{cont1.text_mini|truncatechars:220}}</h5>
                </div>
{% elif num == 2 %}
                <div class="New">
                    <h4 class="NewTitle">{{cont1.title}}</h4>
                    <img class="NewImg" src="/static/{{ cont1.new_img.name }}">
                    <h5 class="NewDes">{{cont1.text_mini|truncatechars:220}}</h5>
                </div>
                <div class="New">
                    <h4 class="NewTitle">{{cont2.title}}</h4>
                    <img class="NewImg" src="/static/{{ cont2.new_img.name }}">
                    <h5 class="NewDes">{{cont2.text_mini|truncatechars:220}}</h5>
                </div>
{% elif num == 3 %}
                <div class="New">
                    <h4 class="NewTitle">{{cont1.title}}</h4>
                    <img class="NewImg" src="/static/{{ cont1.new_img.name }}">
                    <h5 class="NewDes">{{cont1.text_mini|truncatechars:220}}</h5>
                </div>
                <div class="New">
                    <h4 class="NewTitle">{{cont2.title}}</h4>
                    <img class="NewImg" src="/static/{{ cont2.new_img.name }}">
                    <h5 class="NewDes">{{cont2.text_mini|truncatechars:220}}</h5>
                </div>
                <div class="New">
                    <h4 class="NewTitle">{{cont3.title}}</h4>
                    <img class="NewImg" src="/static/{{ cont3.new_img.name }}">
                    <h5 class="NewDes">{{cont3.text_mini|truncatechars:220}}</h5>
                </div>
{% else %}
{% endif%}
            </div>
{% if num == 1 %}
            <div class="ButtonBlock">
                <a href="{% url 'news:deatail' cont1.id %}"><button class="ButtonPulsNew">Подробнее</button></a>
            </div>
{% elif num == 2 %}
            <div class="ButtonBlock">
                <a href="{% url 'news:deatail' cont1.id %}"><button class="ButtonPulsNew">Подробнее</button></a>
                <a href="{% url 'news:deatail' cont2.id %}"><button class="ButtonPulsNew">Подробнее</button></a>
            </div>
{% elif num == 3 %}
            <div class="ButtonBlock">
                <a href="{% url 'news:deatail' cont1.id %}"><button class="ButtonPulsNew">Подробнее</button></a>
                <a href="{% url 'news:deatail' cont2.id %}"><button class="ButtonPulsNew">Подробнее</button></a>
                <a href="{% url 'news:deatail' cont3.id %}"><button class="ButtonPulsNew">Подробнее</button></a>
            </div>
{% else %}
{% endif%}
        </div>
        <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/ButtonPuls.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/Scroll.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/parallax.js' %}"></script>
    </body>
{% endblock %}