{% extends 'news.html'%}
{% block content %}
{% for latest in latest_news %}
            <div class="news_content">
                <div class="news_inner">
                    <div class="new_img_div">
                        <img class="new_img" src="/static/{{ latest.new_img.name }}" alt="">
                    </div>
                    <div class="new_title">
                        {{latest.title}}
                    </div>
                    <div class="new_info">
                        {{latest.text_mini}}
                    </div>
                    <div class="new_after">
                        <a href="{% url 'news:deatail' latest.id %}"><button class="new_open" type="button">Читать далее</button></a>
                        <div class="new_date">11.02.2021</div>
                    </div>
                </div>
            </div>
{% endfor %}
{% endblock %}