{% extends 'head.html'%}
{% load static %}
{% block title %}
        <title>Комплекс серверов Rus-Hytale</title>
        <meta property="og:site_name" content="Регистрация | Сервера по игре Hytale" />
	    <meta property="og:type" content="website" />
		<meta property="og:title" content="Регистрация | Сервера по игре Hytale" />
		<meta property="twitter:title" content="Регистрация | Сервера по игре Hytale" />
		<meta name="Description" content="Официальный сайт русскоязычного комплекса серверов по Hytale"/>
        <link href="{% static 'css/login.css' %}" rel="stylesheet">
{% endblock %}
{% block body %}
        <div class="AuthBlock">
            <div class="TitleLogIn">Регистрация</div>
            <form method="post" class="formLogin">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="ButtonNewsAnim">Создать аккаунт</button>
            </form>
            <div class="regText">Есть аккаунт? <a href="#" class="aRegText">Войти</a></div>
        </div>
{% endblock %}
