body {
    margin: 0;
    font-size: 18px;
    color: #f33100;
    background-color: #282828;
}

*
*:before,
*:after {
    box-sizing: border-box;
}

/* fdc501 */

/* Container */

.container {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
}

/* Header */

.header {
    padding: 0 0;
}

.header_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_logo {

}

/* Nav */

.nav {
    display: flex;
}

.nav_link {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    margin-left: 20px;
    text-decoration: none;
    color: #fff;
    transition: color 0.1s linear;
}
 
.nav_link:first-child {
    margin-left: 0;
}

.nav_link:hover {
    color: #fdc501
}