body {
    -ms-user-select: none; 
	-moz-user-select: none; 
	-webkit-user-select: none; 
    user-select: none; 
    
    font-family: 'Raleway', sans-serif;
    overflow-x: hidden;
    margin: 0;
    font-size: 18px;
    color: #f33100;
    background-color: #282828;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
}

*
*:before,
*:after {
    box-sizing: border-box;
}

/* fdc501 */

/* Container */

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 30px;
    padding-left: 30px;
    min-width: 1000px;
}

/* Header */

.header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    /* visibility: hidden; */
    min-width: 1000px;
}

.header_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #fdc501;
}

.header_logo {
    background-color: #d1aa1c;
}

.logo_text {
    font-size: 30px;
    font-weight: 700;
    color: #282828;
    padding: 15px 5px;
}

/* Nav */

.nav {
    display: flex;
}

.nav_link {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    margin-left: 20px;
    text-decoration: none;
    color: #fff;
    transition: color 0.1s linear;
}
 
.nav_link:first-child {
    margin-left: 0;
}

.nav_link:hover {
    color: #fdc501
}

/* intro */

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 850px;
    width: 100%;
    /* background: url("../img/intro_background/1.jpg") center no-repeat; */
    -webkit-background-size: cover;
    background-size: cover;
    /* padding-right: 7%; */
    min-width: 1000px;
}

.intro_back {
    margin-top: -5px;
    position: absolute;
    z-index: -100;
    top: 0px;
    min-width: 1000px;
}

.intro_inner {
    width: 100%;
    max-width: 880px;
}

.intro_title {
    font-family: 'Raleway', sans-serif;
    font-size: 50px;
    color: #fff;
    text-transform: uppercase;
    text-align: left;
}

.intro_title:after {
    content: "";
    display: block;
    width: 100px;
    height: 1px;
    
    background-color: #fdc501;
}

.intro_subtitle {
    color: #fff;
    font-family: 'Raleway', serif;
    font-size: 18px;
    font-weight: 500;
    margin-top: 15px;
    margin-bottom: 100px;
    text-transform: uppercase;
}

.main_button {
    font-family: 'Roboto', sans-serif;
    background-color: #d1aa1c;
    color: #282828;
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
    padding: 5px 10px;
    text-transform: uppercase;
    border: 2px solid #d1aa1c;
    border-radius: 10px;

    transition: background-color 0.1s linear;
}

.main_button:hover {
    background-color: #f0d164;
    border: 2px solid #f0d164;
}

/* why_us */

.why_us {
    margin: 60px 0;
    min-width: 1000px;
}

.why_us_inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.why {
    width: 20%;
    padding: 20px 12px;
    background-color: #282828;
    transition: background 0.1s linear;
    text-align: center;
    align-items: center;
    justify-content: center;

    border: 6px solid #282828;
    border-radius: 25px;
}

.why:last-child .why_info {
    margin-top: 33px;
}

.why_us_title {
    color: #fff;
    font-family: 'Raleway', sans-serif;  
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 15px;
    text-align: center;
}

.why_title {
    font-family: 'Raleway', sans-serif;
    color:#fdc501;
    font-size: 20px;
    font-weight: 600;
    line-height: 1;
    text-transform: uppercase;

    margin-bottom: 15px;  

    transition: font-weight 0.2s linear; 
    transition: color 0.1s linear; 

    text-align: center;
    align-items: center;
    justify-content: center;
}
.why:hover {
    background-color: #424242;
}

.why_info {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    color: #fff;
    align-items: flex-end;

    text-align: center;
    align-items: center;
    justify-content: center;
}

/* price list */

.price {
    padding: 20px 0;
    font-family: 'Raleway', sans-serif;
    display: flex;
    flex-direction: column;
    color: #333;
    background-color: #d1aa1c;
}

.price_title {
    margin-left: 30px;
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
    font-weight: 600;
    text-transform: uppercase;
}

.price_inner {
    margin-left: 30px;
    margin-bottom: 10px;
}

.price_inner:after {
    content: "";
    display: block;
    width: 220px;
    background-color: #424242;
    height: 1px;
}

.price_main {
    font-size: 30px;
    font-weight: 600;
}

.price_info {
    font-size: 25px;
    font-weight: 500;
}

/* reviews */

.reviews {
    margin: 50px 0;
}

.reviews_title {
    color: #fff;
    font-family: 'Raleway', sans-serif;  
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 15px;
    text-align: center;
}

/* contact us */

.contacts {
    flex-wrap: wrap;
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
}
.contact {
    max-width: 50%;
}

.contact_title {
    color: #fff;
    font-family: 'Raleway', sans-serif;  
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.contact_item {
    display: block;
    color: #fff;
    font-family: 'Raleway', sans-serif; 
    font-size: 25px;
    margin-bottom: 20px ;
}

.contact_item_name {
    margin-bottom: 10px;
}

.referals {
    display: flex;
}

.contact_ref {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 40px;
    height: 40px;
    margin-right: 10px;
    border: 2px solid #fff;
    border-radius: 10px;
    background-color: #282828;
    transition: background-color 0.1s linear;
}

.contact_ref:hover {
    background-color: #fff;
}

.contact_icon {
    display: block;
    margin: auto 0;
    height: 35px;
    fill: #fff;
    transition: fill 0.2s linear ;
}

.contact_ref:hover .contact_icon {
    fill: #282828;
}

.tel {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

.vk_id_background {
    display: flex;
    align-items: center;
    border: 2px solid #fff;
    border-radius: 10px;
    height: 40px;
    background-color: #282828;
}

.contact_item_name_kirill {
    color: #fff;
    font-family: 'Raleway', sans-serif; 
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0 5px;
    transition: color 0.1s linear;
}

.vk_id_background:hover {
    transition: background-color 0.1s linear;
    background-color: #fff;
    color:#282828;
}

.vk_id_background:hover .contact_item_name_kirill{
    color: #282828;
}

.contact_map {
    max-width: 50%;
}





/* media */


