.Authorization{
    position: absolute;
    left: 0;
    top: 0;
    width: 20vw;
    left: 12%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.InputText h3{
    color:  #e7e7e7;
    margin-top: 330%;
    font-family: 'Raleway', sans-serif;
    font-size: 2vw;
    letter-spacing: 1px;
    margin-left: 5vw;
    font-weight: bold;
}
.InputImg{
    margin-left: 5%;
    width: 90%;
    height: 4vw;
    position: absolute;
    display: block;
    z-index:-10;
}
.RegImg{
    margin-left: 5%;
    width: 100%;
    position: absolute;
    display: block;
    z-index: -10;
}
.RegBox{
    margin-top: -3vw;
}
.ButtonInput{
    height: 6vw;
}
.ButtonReg{
    height: 6vw;
}
.ButtonPulsHeaderInputBox{
    padding-top: 1vw;
    margin-left: 25%;
    width: 20vw;
    z-index: 100;
    font-family: 'Raleway', sans-serif;
    color: #e7e7e7;
    font-weight: 400;
    font-size: 1.5vw;
    letter-spacing: 1px;
}
.auth{
    padding-top: 0.6vw;
    width: 20vw;
    z-index: 100;
    font-family: 'Raleway', sans-serif;
    color: #e7e7e7;
    font-weight: 400;
    font-size: 1.5vw;
    letter-spacing: 1px;
    background: url(../images/Input.png) no-repeat;
    background-size: 80%;
    transition: all .5s ease;
    display: block;
    text-indent: 50px;
    padding-bottom: 1vw;
    margin-left: 2vw;
}
.reg{
    margin-top: 0.2vw;
    padding-top: 0.6vw;
    width: 20vw;
    z-index: 100;
    font-family: 'Raleway', sans-serif;
    color: #e7e7e7;
    font-weight: 400;
    font-size: 1.5vw;
    letter-spacing: 1px;
    background: url(../images/Reg.png) no-repeat;
    background-size: 80%;
    transition: all .5s ease;
    display: block;
    text-indent: 50px;
    padding-bottom: 1vw;
    margin-left: 2vw;
}
.ButtonPulsHeaderRegBox{
    padding-top: 1vw;
    margin-left: 25%;
    z-index: 100;
    font-family: 'Raleway', sans-serif;
    color: #e7e7e7;
    font-weight: 400;
    font-size: 1.5vw;
    letter-spacing: 1px;
}
