.NewBlockText{
    position: absolute;
    margin-left: 0px;
    top: 135vw;
    left: 50%;
    width: 100%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
}
.NewBlockText h4{
    margin-left: 0.3vw;
    font-size: 2.5vw;
    color: #e7e7e7;
    letter-spacing: 1px;
    font-family: 'Raleway';
    font-weight: 100px;
}