body{
    background-color: rgb(73, 73, 73);
    margin: 0px;
    overflow-x: hidden;
}
.left_menu{
    position: fixed;
    background-color: rgb(95, 95, 95);
    margin-top: 5%;
    margin-left: 5%;
    width: 14%;
    height: 82%;
}
a{
    text-decoration:none;
}
.right_line{
    position: fixed;
    background-color: rgb(95, 95, 95);
    margin-top: 5%;
    margin-left: 94.2%;
    width: 0.2%;
    height: 82%;
}
.Separation{
    text-align: center;
    font-size: 1.1vw;
    letter-spacing: 0.05vw;
    font-family: 'Raleway';
    color:rgb(233, 233, 233);
    border-bottom: 0.05vw solid rgb(167, 167, 167);
}
.Button_accounts_statistics{
    padding: 0.9vw;
    font-size: 1vw;
    letter-spacing: 0.05vw;
    font-family: 'Raleway';
    color:rgb(216, 216, 216);
}
.Button_accounts_statistics:hover{
    color:rgb(233, 233, 233);
    background-color:rgba(233, 233, 233, 0.1);
}
.active{
    background-color:rgba(233, 233, 233, 0.1);
    border-left: 0.15vw solid rgb(139, 195, 74);
}
.close{
    color: rgb(177, 47, 47);
}
.close:hover{
    color: rgb(224, 62, 62);
}
.account_settings_content{
    position: absolute;
    background-color: rgb(95, 95, 95);
    margin-top: 5%;
    margin-left: 20%;
    width: 73.1%;
    /* height: 82%; */
}
.section_setting{
    width: 90%;
    margin-left: 5%;
    border-bottom:  0.05vw solid rgb(167, 167, 167);
}
.title_section_settings{
    padding-top: 1vw;
    padding-bottom: 1vw;
    text-align: center;
    font-size: 2vw;
    letter-spacing: 0.05vw;
    font-family: 'Raleway';
    color:rgb(216, 216, 216);
    border-bottom:  0.05vw solid rgb(167, 167, 167);
}
.Settings{
    display: flex;
    flex-wrap: wrap;
}
.setting{
    margin-right: 4%;
    width: 46%;
    font-size: 1vw;
    letter-spacing: 0.05vw;
    font-family: 'Raleway';
    color:rgb(216, 216, 216);
}
.setting input{
    float: right;
    font-size: 1vw;
    letter-spacing: 0.05vw;
    font-family: 'Raleway';
}
.setting select{
    float: right;
    font-size: 1vw;
    letter-spacing: 0.05vw;
    font-family: 'Raleway';
}
.setting a{
    font-size: 0.9vw;
    letter-spacing: 0.05vw;
    font-family: 'Raleway';
    color:rgb(139, 195, 74);
}
.setting a:hover{
    color:rgb(115, 160, 63);
}
.general_edit{
    float: right;
}
.ava_content{
    margin-top: 1vw;
    margin-left: 1vw;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1vw;
    border-bottom:  0.05vw solid rgb(167, 167, 167);
}
.avaProfile_profile{
    position: relative;
    overflow: hidden;
    width: 10vw;
    height: 10vw;
    background-color: rgb(95, 95, 95);
    border: 0.05vw solid rgb(233, 233, 233);
    border-radius: 100%;
}
.avaInput{
    margin-top: 3vw;
    margin-left: 2vw;
    font-size: 1vw;
    letter-spacing: 0.05vw;
    font-family: 'Raleway';
    color:rgb(216, 216, 216);
}
.avaInput input{
    font-size: 1vw;
    letter-spacing: 0.05vw;
    font-family: 'Raleway';
    padding-top: 1vw;
}