.WhyBlock{
    width: 100%;
    height: 56vw;
}
.imgWhyBlock img{
    position: absolute;
    width: 100%;
    color:  #e7e7e7;
    font-weight: 10;
    font-family: 'Montserrat';
    font-size: 10vw;
    letter-spacing: 1px;
}
.OpBack{
    width: 100%;
    display: block;
}
.features {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    margin-left: 0px;
    top: 72vw;
    left: 50%;
    width: 100%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.features__item {
    width: 26.33333%;
    height: 21vw;
    text-align: center;
    padding: 0 50px;
    border: 20px;
    border-color: wheat;
    margin-left: 5.2vw;
}

.features__icon {
    margin-top: 3vw;
    width: 6vw;
}

.features__title {
    margin-bottom: 15px;
    font-size: 2vw;
    color: #e7e7e7;
    letter-spacing: 1px;
    font-family: 'Raleway', sans-serif;
    font-weight: 100px;
}

.features__text {
    font-size: 14px;
    line-height: 1.5;
    color: #6c7279;
}
