
body{
    background: rgb(73, 73, 73);
    margin: 0px;
    overflow-x: hidden;
    min-width: 1170px;
}
.MainBlock{
    width: 100%;
    height: 55.6vw;
}
.BackMain img{
    position: absolute;
    display: block;
}
.OpBack{
    display: block;
    width: 100%;
}

.OpBackEf1{
    position: absolute;
    width: 100%;
    z-index: 100; 
}
.OpBackEf2{
    position: absolute;
    width: 100%;
    z-index: 100;
}
.MainBlockImg{
    position: absolute;
    left: 0;
    top: 0;
    left: 49%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.MainBlockImg img{
    width: 18vw;
    color:  #e7e7e7;
    margin-top: 170%;
    font-weight: 10;
    font-family: 'Montserrat';
    font-size: 10vw;
    letter-spacing: 1px;
}
.ripple1 {
    position: absolute;
    border-radius: 50%;
    transform: scale(0);
    animation: ripple 500ms linear;
    background-color: rgba(255, 255, 255, 0.05);
  }
@keyframes ripple1 {
    to {
      transform: scale(4);
      opacity: 0;
    }
  }
  .noselect {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
.PlayMenu{
    position: absolute;
    left: 0;
    top: 0;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 1000;
}
.buttonPlay {
    margin-left: -0.4vw;
    display: inline-block;
    vertical-align: top;
    padding: 1vw 2.8vw;
    border: 3px solid #e7e7e7;
    color: #e7e7e7;
    margin-top:70vw;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    text-transform: uppercase;
    white-space: nowrap;
    font-size: 1vw;
    letter-spacing: 1px;
    font-weight: 700;
    text-decoration: none;
    transition: background 0.3s linear, color 0.4s linear;
  }
  .buttonPlay:hover {
      background-color: #e7e7e7;
      color: black;
  }

  
@keyframes pulse1{
    50%{margin-left: -10px;}
    100%{margin-left: 0px;}
}
@keyframes pulse2{
    50%{margin-left: -15px;}
    100%{margin-left: 0px;}
}



