.bodyStyle{
    background-color: rgb(73, 73, 73);
    margin: 0px;
    overflow-x: hidden;
    min-width: 1170px;
}
.newMainBlock{
    width: 80%;
    margin-left: 10%;
    text-align: center;
    position: absolute;
}
.title_new{
    margin-top: 7vw;
    font-size: 3vw;
    letter-spacing: 1px;
    font-family: 'Raleway';
    font-weight: 100px;
    color:rgb(233, 233, 233);
}
.imgBlogText{
    width: 100%;
    position: absolute;
    display: block;
    z-index: -1;
}
.imgBlogTextCenter{
    width: 100%;
    position: absolute;
    display: block;
    z-index: -1;
    background-repeat:repeat-y;
}
.ContentBlock{
    width: 70%;
    margin-left: 15%;
}
.img_new{
    width: 100%;
    margin-top: 2vw;
}
.TextBlock{
    width: 80%;
    margin-left: 10%;
}
.Text{
    font-size: 1.5vw;
    letter-spacing: 1px;
    font-family: 'Raleway';
    font-weight: 100px;
    color:rgb(233, 233, 233);
}