.header{
    background-color: rgba(65, 65, 65, 0);
    position: fixed;
    width: 110%;
    height: 5vw;
    z-index: 999999;
}
.headerScroll1{
    background-color: rgba(65, 65, 65, 0.2);
}
.headerScroll2{
    background-color: rgba(65, 65, 65, 0.4);
}
.headerScroll3{
    background-color: rgba(65, 65, 65, 0.6);
}
.headerScroll4{
    background-color: rgba(65, 65, 65, 0.8);
}
.headerScroll5{
    background-color: rgba(65, 65, 65, 1);
}
.LogoHeader{
    float: left;
    margin-left: 6%;
}
.Logo{
    margin-top: -2px;
    max-width: 6vw;
    display: block;

}
.MenuHeader button{
    letter-spacing: 1px;
    color: #a8a8a8;
    font-size: 1.45vw;
    padding-bottom: 0.7vw;
    padding-right: 0.7vw;
    padding-left: 0.7vw;
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
    text-decoration: none;

}
.MenuHeader div a{
    top:0px;
}
.MenuHeader button:hover {
    color: #8BC34A;
}

.MenuHeader{
    margin-top: 0.8vw;
    margin-right: 17vw;

    float: right;
}
* {
    box-sizing: border-box;
}
.ButtonPulsHeader{
    position: relative;
    overflow: hidden;
    color: #fff;
    background-color:rgba(65, 65, 65, 0);;
    outline: 0;
    border: 0;
    border-radius: 0.25rem;
    box-shadow: 0 0 0.5rem rgba(65, 65, 65, 0);
    cursor: pointer;
    padding-top: 0.7vw;
}
.ripple {
    position: absolute;
    border-radius: 50%;
    transform: scale(0);
    animation: ripple 600ms linear;
    background-color: rgba(255, 255, 255, 0.7);
  }
@keyframes ripple {
    to {
      transform: scale(4);
      opacity: 0;
    }
  }
h2{
    font-size: 1000px;;
}
.ava{
    position: relative;
    overflow: hidden;
    width: 2.5vw;
    border-radius: 100%;
}