.all_body {
    margin: 0;

    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    color: #464646; /* цвет поменять*/
    -webkit-font-smoothing: antialiasing;

    background-color: #ffffff;

    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

/* Container */

.container {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
}

/* Header */

.header {
    position: absolute;
    height: 73px;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    /*background-color: #393939;*/
}

.header__inner {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    /*border-bottom: 1px solid rgb(0, 0, 0);*/
    align-items: center;
    border-bottom: 1px solid #bfc1ca;
}


/* Navigation */

.nav {
    display: flex;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}

.nav__link {
    margin-left: 25px;
    color: #fff;
    text-decoration: none;
    transition: 0.1s linear;
    opacity: 0.7;
}

.nav__link:first-child {
    margin-left: 0px;
}

.nav__link:hover {
    opacity: 1;
    color: #ffffff;
}

/* Intro Background */

.intro {
    height: 750px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 73px;
    background: url("../images/ActiveBox_01.jpg") center / cover;
}

.intro__inner {
    width: 100%;
    max-width: 750px;
    margin: 0 auto;
    margin-bottom: 140px;
    text-align: center;
}

.intro__title {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 120px;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
}

.intro__subtitle {
    margin: 0;
    font-size: 30px;
    color: #fff;
    font-weight: 400;
    text-transform: uppercase;
}

/* Btn */

.btn__start {
    margin-top: 60px;
    display: inline-block;
    vertical-align: top;
    font-size: 13px;
    border: 2px solid #fff;
    border-radius: 5px;
    font-weight: 600;
    font-family: 'Raleway', sans-serif;
    color:#fff;
    text-transform: uppercase;
    text-decoration: none;
    padding: 14px 40px;
    cursor: pointer;
    transition: color 0.2s linear;
    transition: background-color 0.4s linear;
}

.btn__start--style {
    background-color: #ff000000;

}

.btn__start--style:hover {
    background-color: #ffffff;
    color: #333333;
}

/* Features */

.features {
    margin: 100px 0;
    display: flex;
    flex-wrap: wrap;
}

.features__item {
    width: 33.33333%;
    text-align: center;
    margin: 25px 0;
    padding: 0 30px;
}

.features__icon {
    margin-bottom: 20px;
}

.features__title {
    margin-bottom: 15px;
    font-size: 14px;
    color: #2d3033;
    font-weight: bold;
    text-transform: uppercase;
}

.features__text {
    font-size: 14px;
    line-height: 1.5;
    color: #6c7279;
}

/* works */

.works {
    display: flex;
    flex-wrap: wrap;
}

.works__item {
    width: 25%;
    height: 350px;
    position: relative;
    overflow: hidden;
}

.works__item:hover .works__content {
    opacity: 1;
}

.works__img {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    transform: translate3d(-50%, -50%, 0);
}

.works__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.1s linear;
    background-color: rgba(232, 96, 69, 0.9);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.works__title {
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
}

.works__text {
    font-size: 14px;
    color: #fff;
}
