/* body */

.container_play {
    display: flex;
    margin: 0 auto;
    width: 80%;
    justify-content: center;
    align-items: center;
}

.body_inner_play {
    margin-top: 20%;
    padding: 2vw 3vw;
    font-family: 'Kaushan', sans-serif;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;

    /* display: flex;
    flex-direction: column; */

    text-align: center;

    /* background-color: #282828;
    border: 1vw #282828 solid;
    border-radius: 2.5vw; */
}

.o404 {
    font-size: 3vw;
}

.text {
    font-size: 4vw;
}

.button {
    margin-top: 2.5vw;
    padding: 0.5vw 1.5vw;
    background-color: #8BC34A;
    font-family: 'Kaushan', sans-serif;
    font-size: 1.3vw;
    font-weight: 700;
    border: 0.2vw #8BC34A solid;
    border-radius: 1vw;
    text-transform: uppercase;
    text-decoration: none;
    color: #282828;
    cursor: pointer;

    transition: color 0.2s linear;
    transition: background-color 0.1s linear;
    /* transition: border 0.1s linear; */
}

.button:hover {
    background-color: #fff;
    color: black;
    border: 0.2vw #fff solid;
}
