<!doctype html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Вход | Комплекс серверов Rus-Hytale</title>
    <meta property="og:site_name" content="Вход | Сервера по игре Hytale" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Вход | Сервера по игре Hytale" />
    <meta property="twitter:title" content="Вход | Сервера по игре Hytale" />
    <meta name="Description" content="Официальный сайт русскоязычного комплекса серверов по Hytale"/>
    <link href="{% static 'css/login.css' %}" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com/" >
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&family=Raleway:wght@400;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Montserrat:wght@200&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1" >
</head>
<body>
    <div class="AuthBlock">
        <img src="{% static 'images/LogoMain.png' %}" class="imgLogo">
        <form method="post" class="formLogin" enctype="multipart/form-data">
            {% csrf_token %}
                <div class="">
                    <div class="form-group">
                        <div class="error" style="    text-align: center;">Логотип</div>
                        <div class="in"><input type="file" name="ava" class="custom-file-input" id="id_ava" accept="image/x-png,image/gif,image/jpeg" style="width: 134px;"></div>
                    </div>
                {% for field in form %}
                    <div class="form-group">
                        <div class="in">{{field}}</div>
                        <div class="error">{{field.errors}}</div>
                    </div>
                {% endfor %}
                    <div class="form-group">
                        <div class="error">Темы вашего сообщества</div>
                        <div class="error">До 8 тегов через пробел</div>
                        <div class="error">Запрещены спецсимвол и цифры</div>
                        <div class="in"><input name="tags" id="id_tags" placeholder="Теги"></div>
                        <div class="error" id="err_test"></div>
                    </div>

                </div>
            <button type="submit" class="ButtonNewsAnim">Создать</button>
            </form></div>
<script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
<script>
    $('#id_tags').bind("change paste keyup", function(){
        tags = $(this).val().split(' ');
        tags = tags.filter(element => element !== '');
        if(tags.length >= 8){
            $('#err_test').html('Тегов больше 8');
            $('.ButtonNewsAnim').prop("disabled", true);
        }
        else{
            $('#err_test').html('');
            $('.ButtonNewsAnim').prop("disabled", false);
        }

    });
</script>
</body>
</html>


