
body{
    background-color: rgb(73, 73, 73);
    margin: 0px;
    overflow-x: hidden;
}
a{
    text-decoration:none;
}
.left_menu{
    position: fixed;
    background-color: rgb(95, 95, 95);
    margin-top: 8%;
    margin-left: 5%;
    width: 14%;
    height: 81%;
}
.Button_accounts_statistics{
    padding: 0.9vw;
    font-size: 1vw;
    letter-spacing: 0.05vw;
    font-family: 'Raleway';
    color:rgb(216, 216, 216);
}
.Button_accounts_statistics:hover{
    color:rgb(233, 233, 233);
    background-color:rgba(233, 233, 233, 0.1);
}
.titleButtins{
    padding: 0.6vw;
    text-align: center;
    font-size: 1.1vw;
    letter-spacing: 0.05vw;
    font-family: 'Raleway';
    color:rgb(233, 233, 233);
    padding-bottom: 0.5vw;
    border-bottom: 0.05vw solid rgb(167, 167, 167);
}
.titleButtins a{
    color:rgb(233, 233, 233);
}
.titleButtins:hover a{
    color:rgb(139, 195, 74);
}
.right_line{
    position: fixed;
    background-color: rgb(95, 95, 95);
    margin-top: 5%;
    margin-left: 94.2%;
    width: 0.2%;
    height: 82%;
}
.Articles_content_flex{
    position: fixed;
    background-color: rgb(95, 95, 95);
    margin-top: 8%;
    margin-left: 20%;
    width: 73.5%;
    height: 81%;
    display: flex;
    flex-wrap: wrap;
}
.Articles_content{
    width: 100%;
    height: 100%;
    padding-top: 0.5vw;
    padding-left: 1.5vw;
    padding-right: 1.5vw;
    overflow-x: hidden;
    overflow-y: auto;
    -ms-overflow-style: none;
}
.Articles_content::-webkit-scrollbar { width: 0; }

.MainBlockImg{
    width: 10vw;
}
.InputText{
    text-align: center;
    font-size: 1.4vw;
    letter-spacing: 0.05vw;
    font-family: 'Raleway';
    padding-bottom: 1.5vw;
    color:rgb(233, 233, 233);
}
.ReadMore{
    font-size: 1vw;
    letter-spacing: 0.05vw;
    font-family: 'Raleway';
    color:rgb(216, 216, 216);
    border: 0.05vw solid rgb(216, 216, 216);
    padding: 0.5vw;
}
.ReadMore:hover{
    background-color: rgb(216, 216, 216);
    color:rgb(12, 12, 12);
}
.AuthorizationUI{
    padding: 1vw;
}
.title_Article{
    display: flex;
    flex-wrap: nowrap;
    font-size: 1.8vw;
    font-weight: 600;
    letter-spacing: 0.05vw;
    font-family: 'Raleway';
    color:rgb(233, 233, 233);
    padding-bottom: 0.5vw;
    border-bottom: 0.05vw solid rgb(167, 167, 167);
}
.title_Article h1{
    font-size: 1.8vw;
    font-weight: 600;
    color:rgb(233, 233, 233);
    font-family: 'Raleway';
}
.title_Article h2{
    font-size: 1.4vw;
    font-weight: 600;
    color:rgb(233, 233, 233);
    font-family: 'Raleway';
}
.text_Article{
    font-size: 1vw;
    letter-spacing: 0.05vw;
    font-family: 'Raleway';
    color:rgb(216, 216, 216);
    padding-top: 0.5vw;
}


