body{
    background-color: rgb(73, 73, 73);
    margin: 0px;
    overflow-x: hidden;
}
a{
    text-decoration:none;
    color:rgb(139, 195, 74);
}
a:hover{
    color:rgb(115, 160, 63);
}
.left_menu{
    position: fixed;
    background-color: rgb(95, 95, 95);
    margin-top: 8%;
    margin-left: 5%;
    width: 14%;
    height: 81%;
}
.right_line{
    position: fixed;
    background-color: rgb(95, 95, 95);
    margin-top: 5%;
    margin-left: 94.2%;
    width: 0.2%;
    height: 82%;
}
.titleButtins{
    padding: 0.6vw;
    text-align: center;
    font-size: 1.1vw;
    letter-spacing: 0.05vw;
    font-family: 'Raleway';
    color:rgb(233, 233, 233);
    padding-bottom: 0.5vw;
    border-bottom: 0.05vw solid rgb(167, 167, 167);
}
.titleButtins a{
    color:rgb(233, 233, 233);
}
.titleButtins:hover a{
    color:rgb(139, 195, 74);
}
.Button_accounts_statistics{
    padding: 0.9vw;
    font-size: 1vw;
    letter-spacing: 0.05vw;
    font-family: 'Raleway';
    color:rgb(216, 216, 216);
}
.Button_accounts_statistics:hover{
    color:rgb(233, 233, 233);
    background-color:rgba(233, 233, 233, 0.1);
}
.active{
    background-color:rgba(233, 233, 233, 0.1);
    border-left: 0.15vw solid rgb(139, 195, 74);
}
.new_content{
    position: absolute;
    background-color: rgb(95, 95, 95);
    margin-top: 8%;
    margin-left: 20%;
    width: 73.5%;
    height: 81%;
    display: flex;
    flex-wrap: wrap;
    padding-top: 1vw;
    padding-bottom: 2vw;
    overflow-x: hidden;
    overflow-y: auto;
    -ms-overflow-style: none;
}
.new_content::-webkit-scrollbar { width: 0; }
h1 {
    font-weight: normal;
    font-size: 1.8vw;
    letter-spacing: 0.05vw;
    font-family: 'Raleway';
    color:rgb(233, 233, 233);
 }
.title_new{
    margin-left: 5%;
    width: 90%;
    padding: 0.6vw;
    text-align: center;
    font-size: 1.8vw;
    letter-spacing: 0.05vw;
    font-family: 'Raleway';
    color:rgb(233, 233, 233);
    padding-bottom: 1vw;
    border-bottom: 0.05vw solid rgb(167, 167, 167);
    transition: color 0.1s linear;
}
.img_new{
    margin-top: 0.5vw;
    width: 70%;
    margin-left: 15%;
}
.text_new{
    margin-left: 5%;
    width: 90%;
    padding-top: 1vw;
    padding-bottom: 1vw;
    font-size: 1.2vw;
    letter-spacing: 0.05vw;
    font-family: 'Raleway';
    color:rgb(216, 216, 216);
    border-bottom: 0.05vw solid rgb(167, 167, 167);
}