.tapeHead{
    position: fixed;
    background-color: rgb(95, 95, 95);
    margin-top: 5%;
    margin-left: 5%;
    width: 88.5%;
    height: 2.5vw;
    display: flex;
    flex-wrap: nowrap;
}
.Button_tapeHead{
    padding: 0.7vw;
    height: 100%;
    font-size: 0.9vw;
    letter-spacing: 0.05vw;
    font-family: 'Raleway';
    color:rgb(216, 216, 216);
}
.Button_tapeHead:hover{
    color:rgb(233, 233, 233);
    background-color:rgba(233, 233, 233, 0.1);
}
.active_tapeHead{
    background-color:rgba(233, 233, 233, 0.1);
    border-top: 0.15vw solid rgb(139, 195, 74);
    padding-top: 0.55vw;
}
.User_Article{
    padding-right: 1vw;
    padding-top: 0.2vw;
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 0.5vw;
    float: right;
}
.User_ArticleUI{
    padding-right: 1vw;
    padding-top: 0.2vw;
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 0.5vw;
    float: right;
}
.User_ava_Article{
    margin-right: 0.5vw;
    width: 2vw;
    height: 2vw;
    background-color: rgb(95, 95, 95);
    border: 0.05vw solid rgb(233, 233, 233);
    position: relative;
    overflow: hidden;
    border-radius: 100%;
}
.User_ava_ArticleUI{
    margin-right: 0.5vw;
    width: 2vw;
    height: 2vw;
    background-color: rgb(95, 95, 95);
    border: 0.05vw solid rgb(233, 233, 233);
    position: relative;
    overflow: hidden;
    border-radius: 100%;
}
.Username_Article{
    margin-top: 0.4vw;
    font-size: 1vw;
    letter-spacing: 0.05vw;
    font-family: 'Raleway';
    color:rgb(216, 216, 216);
}
.Username_Article:hover{
    color:rgb(139, 195, 74);
}
.OutButt{
    padding-left:1vw;
    margin-top: 0.4vw;
    font-size: 1vw;
    letter-spacing: 0.05vw;
    font-family: 'Raleway';
    color:rgb(203, 39, 39);
}
.OutButt:hover{
    color:rgb(176 30 30);
}
.GoButt{
    padding-left:1vw;
    margin-top: 0.4vw;
    font-size: 1vw;
    letter-spacing: 0.05vw;
    font-family: 'Raleway';
    color:rgb(216, 216, 216);
}
.GoButt:hover{
    color:rgb(139, 195, 74);
}
.Username_ArticleUI{
    margin-top: 0.4vw;
    font-size: 1vw;
    letter-spacing: 0.05vw;
    font-family: 'Raleway';
    color:rgb(216, 216, 216);
}
.Username_ArticleUI:hover{
    color:rgb(139, 195, 74);
}
.rightHead{
    width: 100%;
}
.User_Article .AuthorizationUIMenu{
    display:flex;
}
.AuthorizationUIMenu{
    display:flex;
}
.ReadMore{
    font-size: 1vw;
    letter-spacing: 0.05vw;
    font-family: 'Raleway';
    color:rgb(216, 216, 216);
    border: 0.05vw solid rgb(216, 216, 216);
    padding: 0.5vw;
}
.ReadMore:hover{
    background-color: rgb(216, 216, 216);
    color:rgb(12, 12, 12);
}
.ReadMoreUI{
    font-size: 1vw;
    letter-spacing: 0.05vw;
    font-family: 'Raleway';
    color:rgb(216, 216, 216);
    border: 0.05vw solid rgb(216, 216, 216);
    padding: 0.5vw;
}
.ReadMoreUI:hover{
    background-color: rgb(216, 216, 216);
    color:rgb(12, 12, 12);
}