<!DOCTYPE html>
<html>
    <head>
        <link href="http://127.0.0.1:8000/static/css/head.css" rel="stylesheet">
        <link href="http://127.0.0.1:8000/static/css/newMainBlock.css" rel="stylesheet">
        <link href="http://127.0.0.1:8000/static/css/authstyle.css" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.gstatic.com/" >
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&family=Raleway:wght@400;600;700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Montserrat:wght@200&display=swap" rel="stylesheet">
    </head>
    <body class="bodyStyle">
        <!-- header -->
        <div class="header">
            <div class="LogoHeader">
                <img class="Logo" src="http://127.0.0.1:8000/static/images/MiniLogo.png">
            </div>
            <div class="MenuHeader">
                <a href="#"><button  class="ButtonPulsHeader">Главная</button></a>
                <a href="#"><button  class="ButtonPulsHeader">Новости</button></a>
                <a href="#"><button  class="ButtonPulsHeader">Серверы</button></a>
                <a href="#"><button  class="ButtonPulsHeader">Форум</button></a>
            </div>
        </div>
        <!-- header -->
        <!-- body -->
        <div class="container_auth">
            <div class="body_inner_auth">
                <div class="o404">пока тут ничего нет</div>
                <div class="text">но мы работаем над этим!</div>
                <a href="https://discord.gg/F86RGWhvdU" target="_blank">
                    <button class="button" type="button">
                        следить за новостями
                    </button>
                </a>
            </div>
        </div>
        <!-- body -->
	    <script type="text/javascript" src="http://127.0.0.1:8000/static/js/jquery.js"></script>
        <script type="text/javascript" src="http://127.0.0.1:8000/static/js/ButtonPuls.js"></script>
        <script type="text/javascript" src="http://127.0.0.1:8000/static/js/Scroll.js"></script>
    </body>
</html>