<!DOCTYPE html>
<html>
    <head>
        <title>Новости</title>
        <meta property="og:site_name" content="Новости | Сервера по игре Hytale" />
	    <meta property="og:type" content="website" />
		<meta property="og:title" content="Новости | Сервера по игре Hytale" />
		<meta property="twitter:title" content="Новости | Сервера по игре Hytale" />
		<meta name="Description" content="Новости Rus-Hytale"/>
		<link rel="canonical" href="https://rushytale.ru/news"/>
	    <meta property="og:url" content="https://rushytale.ru/news"/>
        <link href="http://127.0.0.1:8000/static/css/head.css" rel="stylesheet">
        <link href="http://127.0.0.1:8000/static/css/listNews.css" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.gstatic.com/" >
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&family=Raleway:wght@400;600;700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Montserrat:wght@200&display=swap" rel="stylesheet">
    </head>
    <body class="bodyStyle">
        <div class="header">
            <div class="LogoHeader">
                <a href="#"><img class="Logo" src="http://127.0.0.1:8000/static/images/MiniLogo.png"></a>
            </div>
            <div class="MenuHeader">
                <a href="#"><button  class="ButtonPulsHeader">Главная</button></a>
                <a href="#"><button  class="ButtonPulsHeader">Новости</button></a>
                <a href="#"><button  class="ButtonPulsHeader">Серверы</button></a>
                <a href="#"><button  class="ButtonPulsHeader">Форум</button></a>
            </div>
        </div>
        <div class="Content">
            <h1 class="news_title">Новости</h1>
            {% block content %}{% endblock %}
        </div>
        <script type="text/javascript" src="http://127.0.0.1:8000/static/js/jquery.js"></script>
        <script type="text/javascript" src="http://127.0.0.1:8000/static/js/ButtonPuls.js"></script>
        <script type="text/javascript" src="http://127.0.0.1:8000/static/js/Scroll.js"></script>
    </body>
</html>