body{
    background-color: rgb(73, 73, 73);
    margin: 0px;
    overflow-x: hidden;
    overflow-y: hidden;
}
.left_menu{
    position: fixed;
    background-color: rgb(95, 95, 95);
    margin-top: 8%;
    margin-left: 5%;
    width: 14%;
    height: 81%;
}
a{
    text-decoration:none;
}
.right_line{
    position: fixed;
    background-color: rgb(95, 95, 95);
    margin-top: 5%;
    margin-left: 94.2%;
    width: 0.2%;
    height: 82%;
}
.Separation{
    text-align: center;
    font-size: 1.1vw;
    letter-spacing: 0.05vw;
    font-family: 'Raleway';
    color:rgb(233, 233, 233);
    border-bottom: 0.05vw solid rgb(167, 167, 167);
}
.Button_accounts_statistics{
    padding: 0.9vw;
    font-size: 1vw;
    letter-spacing: 0.05vw;
    font-family: 'Raleway';
    color:rgb(216, 216, 216);
}
.Button_accounts_statistics:hover{
    color:rgb(233, 233, 233);
    background-color:rgba(233, 233, 233, 0.1);
}
.active{
    background-color:rgba(233, 233, 233, 0.1);
    border-left: 0.15vw solid rgb(139, 195, 74);
}
.close{
    color: rgb(177, 47, 47);
}
.close:hover{
    color: rgb(224, 62, 62);
}
.account_profile_content{
    position: absolute;
    background-color: rgb(95, 95, 95);
    margin-top: 8%;
    margin-left: 20%;
    width: 73.5%;
    height: 81%;
    overflow-x: hidden;
    overflow-y: hidden;
    -ms-overflow-style: none;
}
.account_profile_content::-webkit-scrollbar { width: 0; }
.top_profile_content{
    display: flex;
    flex-wrap: nowrap;
    border-bottom: 0.05vw solid rgb(167, 167, 167);
}
.ava_profile_content{
    
    border-right: 0.05vw solid rgb(167, 167, 167);
    padding: 2vw;
}
.avaProfile_profile{
    width: 15vw;
    height: 15vw;
    background-color: rgb(95, 95, 95);
    border: 0.05vw solid rgb(233, 233, 233);
    position: relative;
    overflow: hidden;
    border-radius: 100%;
}
.top_info_profile_content{
    display: flex;
    flex-wrap: nowrap;
    padding-top: 1.9vw;
    padding-left: 2vw;
}
.usernameProfile_profile{
    font-size: 2vw;
    letter-spacing: 0.05vw;
    font-family: 'Raleway';
    color:rgb(216, 216, 216);
}
.cityProfile_profile{
    padding-top: 0.5vw;
    font-size: 1.5vw;
    letter-spacing: 0.05vw;
    font-family: 'Raleway';
    color:rgb(216, 216, 216);
    padding-left: 0.5vw;
}
.cityProfile_profile a{
    font-size: 1.5vw;
    letter-spacing: 0.05vw;
    font-family: 'Raleway';
    color:rgb(139, 195, 74);
    padding-left: 0.5vw;
}
.cityProfile_profile a:hover{
    color:rgb(115, 160, 63);
}
.center_info_profile_content{
    display: flex;
    flex-wrap: nowrap;
    padding-left: 2vw;
    padding-top: 0.5vw;
}
.groupProfile_profile{
    font-size: 1.2vw;
    letter-spacing: 0.05vw;
    font-family: 'Raleway';
    color:rgb(216, 216, 216);
}
.messagesProfile_profile{
    font-size: 0.9vw;
    letter-spacing: 0.05vw;
    font-family: 'Raleway';
    color:rgb(216, 216, 216);
}
.messagesProfile_profile a{
    font-size: 0.9vw;
    letter-spacing: 0.05vw;
    font-family: 'Raleway';
    color:rgb(139, 195, 74);
    padding-left: 0.2vw;
}
.messagesProfile_profile a:hover{
    color:rgb(115, 160, 63);
}
.pointsProfile_profile{
    font-size: 0.9vw;
    letter-spacing: 0.05vw;
    font-family: 'Raleway';
    color:rgb(216, 216, 216);
    padding-left: 0.2vw;
}
.pointsProfile_profile a{
    font-size: 0.9vw;
    letter-spacing: 0.05vw;
    font-family: 'Raleway';
    color:rgb(139, 195, 74);
    padding-left: 0.2vw;
}
.pointsProfile_profile a:hover{
    color:rgb(115, 160, 63);
}
.end_info_profile_content{
    padding-left: 2vw;
    padding-top: 0.5vw;
    width: 60%;
}
.textProfile_profile{
    font-size: 0.9vw;
    letter-spacing: 0.05vw;
    font-family: 'Raleway';
    color:rgb(216, 216, 216);
}
.end_end_info_profile_content{
    display: flex;
    flex-wrap: nowrap;
    padding-left: 2vw;
    padding-top: 0.5vw;
}
.regProfile_profile{
    display: flex;
    font-size: 0.9vw;
    letter-spacing: 0.05vw;
    font-family: 'Raleway';
    color:rgb(216, 216, 216);
}
.lastProfile_profile{
    display: flex;
    font-size: 0.9vw;
    letter-spacing: 0.05vw;
    font-family: 'Raleway';
    color:rgb(216, 216, 216);
}
.attention{
    color:rgb(233, 233, 233);
    padding-left: 0.3vw;
}
.TellProfile_profile{
    color:rgb(139, 195, 74);
}
.TellProfile_profile:hover{
    color:rgb(115, 160, 63);
}