.TitleLogIn{
    font-size: 72px;
    color: #e7e7e7;
    letter-spacing: 1px;
    font-family: 'Raleway';
    font-weight: 100px;
    text-align: center;
}
body{
background-color: rgb(73, 73, 73);
margin: 0;
}
.AuthBlock{
    background-color: rgb(95, 95, 95);
        height: 420px;
    width: 348.7px;
    margin: 40px auto;
    border: 0.05vw solid rgb(167, 167, 167);
}

.cont{
    margin: 0 auto;
    width: 181px;
    border: 0.05vw solid rgb(167, 167, 167);
}
.form-group{
    display: table;
    margin: 0 auto;
    padding: 2px;
    font-size: 14px;
    color: #e7e7e7;
    letter-spacing: 1px;
    font-family: 'Raleway';
    font-weight: 100px;
}
.in{
        padding: 5px 0px;
}
.ButtonNewsAnim{
    display: table;
    margin: 0 auto;
}
.imgLogo{
    margin: 10px 40%;
    width: 70px;
}
.in input{
    width: 250px;
    font-size: 16px;
    letter-spacing: 1px;
    font-family: 'Raleway';
    font-weight: 100px;
    padding: 5px;
        border-radius: 3px;
    border-color: transparent;
}
.ButtonNewsAnim {
        vertical-align: top;
    padding: 7px 100px;
    border: 3px solid #e7e7e7;
    color: #e7e7e7;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    background-color: rgba(2, 2, 2, 0);
    text-transform: uppercase;
    white-space: nowrap;
    font-size: 15px;
    letter-spacing: 1px;
    font-weight: 100;
    text-decoration: none;
        margin-top: 6px;
    transition: background 0.3s linear, color 0.4s linear;
  }
.ButtonNewsAnim:hover {
      background-color: #e7e7e7;
      color: black;
          cursor: pointer;
  }
.regText{
    margin-top: 10px;
    font-size: 12px;
    letter-spacing: 1px;
    font-family: 'Raleway';
    font-weight: 100px;
    color: #e7e7e7;
    text-align: center;
}
.aRegText{
    font-size: 12px;
    letter-spacing: 1px;
    font-family: 'Raleway';
    font-weight: 100px;
    color: #70ea64;
}
.message{
    font-size: 10px;
    letter-spacing: 1px;
    font-family: 'Raleway';
    font-weight: 100px;
    color: #e7e7e7;
    text-align: center;
}
.errorlist{
    list-style-type: none;
        padding-left: 0px;
}
.custom-file-input {
  color: transparent;
}
.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}
.custom-file-input::before {
  content: 'Файл не выбран';
  color: black;
  display: inline-block;
  background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
  border: 1px solid #999;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 10pt;
}
.custom-file-input:hover::before {
  border-color: black;
}
.custom-file-input:active {
  outline: 0;
}
.custom-file-input:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}