@media screen and (max-width:800px) {
    .container{
        width: 98%;
    }
    .left_block .button_header{
        display: none;
    }
    .main_news{
        display: none;
    }
    .m_menu{
        display: block;
    }
    .logo{
        padding-left: 6px;
    }
    .menu-hide{
        display: block;
    }
    .under_header{
        display: none;
    }
    .left_panel_content_main{
        display: none;
    }
    .center_panel_content_main{
        width: 100%;
        margin-left: 0;
    }
    .ava_profile_content{
        border: none;
    }
    /* .ava_profile_account{
        margin: 0 auto;
        width: 100%;
    }
    .center_username_profile_account{
        margin: 0 auto;
        text-align: center;
    }
    .name_user_profile_account{
        margin: 0 auto;
    }
    .group_user_profile_account{
        margin: 0 auto;
    }
    .tags_user_profile_account{
        margin: 0 auto;
    }
    .tags_user_profile_account a{
        margin: 0 auto;
        text-align: center;
    }
    .top_profile_account{
        display: block;
    } */
    .top_profile_content{
        display: block;
        flex-wrap: none;
        padding-bottom: 10px;
    }
    .avaProfile_profile{
        margin: 0 auto;
        display: block;
    }
    .top_info_profile_content{
        padding-left: 0px;
    }
    .usernameProfile_profile{
        margin: 0 auto;
    }
    .center_info_profile_content{
        padding-left: 0px;
        justify-content: center;
    }
    .groupProfile_profile{
        margin: 0 auto;
    }
    .end_end_info_profile_content{
        padding-left: 0px;
        justify-content: center;
    }
    .line_block_message_messages{
        padding-right: 0px;
    }
    .line_my_block_message_messages{
        padding-left: 0px;
    }
    .fix_head_messages{
        left: 0;
        margin: 0 auto;
        width: 100%;
        padding-left: 5px;
        padding-right: 5px;
    }
    .footer_messages{
        left: 0;
        margin: 0 auto;
        width: 100%;
        padding-left: 5px;
        padding-right: 5px;
    }
}